<template>
  <div>
  <div>
    Click on th button to add an item. To link to items, click on them.
    <br/><br/>
  </div>
  <div class="wrapper">
    <div id="menu" class="menu">
      <button name="addItem" v-on:click="addItem()">Add Item</button>
      <br/><hr/>
      <button v-on:click="undoLine()">Undo line</button>
      <br>
      <button name="clear-lines" v-on:click="clearLines()">Clear lines</button>
    </div>
    <div id="container">
      <div id="outer-dropzone" class="dropzone">
        <div v-for="device in devices" class="drag-drop" :id="device.name">{{device.name}}</div>
      </div>
    </div>
    <div class="settings">
      <h4>settings</h4>
      <ol>
        <li v-for="device in devices">{{device.name}}</li>
      </ol>
    </div>
  </div>
</div>
</template>

<script>
import sourceData from '@/data'
import interact from 'interactjs'

let id = 0
let targets = []
let lines = []

interact('.drag-drop')
  .on('tap', function (e) {
    targets.push(e.currentTarget['id'])
    if (targets.length === 2) {
      var line = new window.LeaderLine(
        document.getElementById(targets[0]),
        document.getElementById(targets[1])
      )
      lines.push(line)
      targets = []
    }
  })
  .draggable({
    inertia: true,
    restrict: {
      restriction: 'parent',
      endOnly: true,
      elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
    },
    autoScroll: true,
    onmove: dragMoveListener
  })

function updateLines () {
  lines.forEach(function (line) {
    line.position()
  })
}

function dragMoveListener (event) {
  let target = event.target
  // keep the dragged position in the data-x/data-y attributes
  let x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx
  let y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy

  // translate the element
  target.style.webkitTransform =
  target.style.transform = 'translate(' + x + 'px, ' + y + 'px)'

  // update the posiion attributes
  target.setAttribute('data-x', x)
  target.setAttribute('data-y', y)
  updateLines()
}

export default {
  name: 'HelloWorld',
  data () {
    return {
      network: sourceData.data.network,
      devices: sourceData.data.devices
    }
  },
  methods: {
    addItem: function () {
      // console.log('Add a device')
      this.devices.push({'name': 'device-' + id})
      id += 1
      updateLines()
    },
    undoLine: function () {
      console.log('Undo last line')
    },
    clearLines: function () {
      console.log('Clear all lines')
    }
  }
}
</script>


<style scoped>
.wrapper {
  display: grid;
  grid-template-columns: 150px auto 200px;
}


#outer-dropzone {
  height:90vh;

  touch-action: none;
}

.dropzone {
  background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;

  transition: background-color 0.3s;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;

  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  transition: background-color 0.3s;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}
</style>
